<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
    <body>
    <ul>
        <li>
            <a href="/contacts/">Контакты</a>

        </li>
        <li>
            <a href = '/'>Главная</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
    </ul>
    <h1> Привет путник</h1>
    <p>Это первая cтраница Flask</p>
    Город:{{main_data['Город']}}</br>
    Район:{{main_data['Район']}}</br>
    Компания:{{main_data['Компания']}}</br>
    name:{{name}}</br>
    age:{{age}}</br>
    spes:{{spes}}</br>
    </body>
</html>